<!DOCTYPE html>
<html>
  <head>
    <Build MetaHead _meta_head.html />
  </head>
  <body>
    <Build BodyHeader _body_header.html />
    <content>
      <Build RepoHeader _base_repo_header.html />
      <With Err><div class="error"><ErrorString /></div></With>
        <form class="pretty" action="create" method="POST">
          <context>Suggest New Diff</context>
          <input name="title" placeholder="Diff Title" value="<Title ornull />" />
          <textarea name="desc" placeholder="Additional information about this patch suggestion"><Desc ornull /></textarea>
          <hint class=right>
            You can specify the source for the changes on the next page.<br>
            Or you can create a diff directly via git push:
           <With PushUri><span class=coderef>git push https://<Host />/repo/<RepoName /> HEAD:refs/diffs/create</span></With></hint>
          </hint>
          <buttons>
            <button name="preview" disabled=disabled>Preview [not implemented]</button>
            <button name="submit">Submit</button>
          </buttons>
        </form>
    </content>
  </body>
</html>
